* {
    box-sizing: border-box;
}

/*Padronizando as fontes, onde eu precisar mexer no estilo novamente sobreponho as selecionando na div especifica*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fafafa;
    padding: 0;
}

/* Para retirar a azul do link clicável */
a {
    text-decoration: none;
    color: inherit;
}

/* Este estilo serve para TODOS os icones da versão obrigatoria do projeto MENOS a setinha da caixa de stories - (Os ícones de like e do "adicionar comentário" são selecionados individualmente)*/
.todos-os-icones-da-versao-obrigatoria {
    width: 22px;
    height: 22px;
    margin: 7.5px;
}

/*começando do topo*/
.topo {
    height: 54px;
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

/*alinhar o conteúdo verticalmente*/
.topo>div>div {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}

/*distribuir as divisões do conteúdo horizontalmente*/
.topo .coisas-do-topo {
    width: 948px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* Ajustar o texto dentro da caixa de pesquisa*/
.topo ::placeholder {
    text-align: center;
}

/* Barrinha vertical entre a logo em forma de icone e a imagem "instagram"*/
.topo>div>div>div {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
    margin: 0 5px;
}

/* Apenas para melorar o alinhamento da imagem*/
.topo .coisas-do-topo img {
    margin-top: 7px;
    padding-left: 10px;
}


/* Estilizar o fundo  - Foi dividio em 2 blocos (esquerda e direita) e usado o space between para ocuparem os devidos 935px de largura*/
.fundao {
    margin-top: 88px;
    width: 935px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

/*Agora estilizo o funo a esquerda e tudo o que vai nele: Stories e posts*/
.fundo-esquerda {
    width: 614px;
}

/* Estilizar a caixa de stories */
.caixa-dos-stories {
    padding-left: 8px;
    /* Este padding serve para aumentar um pequeno espaço à esquerda dos stories, visto que a distância entre ele é 7.5px*/
    width: 100% - 8px;
    height: 118px;
    border: 1px solid #DBDBDB;

    /* Isso aqui logo abaixo foi mais ou menos uma gambiarra, mas vou deixar devidamente comentado pra mostrar que pelo menos sei o que cada comando está fazendo haha */

    /* Para construir a caixa de stories "vazada" - isto coloca um do lado do outro, mas esmagando */
    display: flex;
    /* Isto impede de esmagar, mas volta a colocar um embaixo do outro*/
    flex-wrap: wrap;
    /* Isto volta a colocar um do lado do outro, mas sem esmagar agr*/
    flex-direction: column;
    /* Como o flex wrap mudou a direção dos eixos, o justify-content vai, na verdade, alinhar verticalmente*/
    justify-content: center;

    /* Para não ter a caixa de scroll dentro da caixa e para  ficar tudo "dentro" da caixa */
    overflow: hidden;

    /* Para poder colocar a sete como absolute */
    position: relative;

    background-color: #FFFFFF;
    margin-bottom: 24px;
    border-radius: 3px;

}

/* A div que contém cada story com seu texto abaixo*/
.story {
    width: 66px;
    height: 86px;
    /* O position relative entra aqui para poder servir de pai para os absolutes a seguir*/
    position: relative;
    display: flex;
    justify-content: center;
    margin: 7px;
}

/* A imagem que indica que o story não foi visualizado ainda*/
.caixa-dos-stories .nao-visualizado {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 66px;
    height: 66px;
    border-radius: 33px;

}

/* A imagem que fica a fotinho do perfil do story*/
.caixa-dos-stories .icone-story {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 56px;
    height: 56px;
}

/* O nome do perfil */
.caixa-dos-stories p {
    position: absolute;
    top: 70px;
}


/* A setinha para os próximos stories*/
ion-icon[name="chevron-forward-circle"] {
    position: absolute;
    right: 10px;
    top: 46px;
    width: 32px;
    height: 32px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    color: #FFFFFF
}


/* Publicações */
/* Primeiro estilizando a div que contem tudo */
.box-de-publicacao {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    width: 100%;
    height: fit-content;
    margin-bottom: 60px;
    background-color: #FFFFFF;
}

.box-de-publicacao img, video{
    width: 100%;
}

.box-de-publicacao strong {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

/* Usei a classe acima e abaixo da imagem para as coisas que possuem um alinhamento parecido e estão imediatamente acima e abaixo da imagem do post */
.acima-e-abaixo-imagem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 10px;
}

.publicacao-curtida-por p{
    font-size: 14px;
    font-weight: 300;
}

/* Organizando o que está à esquerda */
.acima-e-abaixo-imagem .esquerda {
    display: flex;
    align-items: center;
}

/* Foto do perfil */
.acima-e-abaixo-imagem img {
    width: 32px;
    height: 32px;
    margin-left: 8px;
    margin-right: 15px;
}

/* ESta é a div com as informações mais abaixo da caixa do posto (foto pequeninha de quem curtil e o texto correspondente) */
.publicacao-curtida-por {
    height: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto 15px 20px;
}

/* Selecionando a imagem de quem curtiu para estiliza-la */
.publicacao-curtida-por img {
    width: 20px;
    margin-right: 5px;
}

.comentario {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
}


.like-comentario {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}

.input-comentario {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(var(--ce3,239,239,239),1);
    padding-right: 15px;
    padding-left: 20px;

}

.input-comentario div {
    width: 100%;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

textarea {
    width: 100%;
    height: fit-content;
    color:#262626;
    border: none;
    resize: none;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 17px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

ion-icon[ name="happy-outline"] {
    width: 24px;
    height: 24px;
}
.input-comentario input{
    border-width: 0px;
    background-color: #FFFFFF;
    color: #B2DFFC;
    cursor: pointer;
}

.input-comentario input:hover{
    color: #0095F6;
    transition: color 300ms;
}

.input-comentario textarea:focus{
    outline: none;
}




/*Estilizando a SIDEBAR*/
.fundo-direita {
    width: 293px;
    height: fit-content;
    position: sticky;
    /* Caso o instagram seja aberto em um safari*/
    position: -webkit-sticky;
    top: 88px;
}

/* Div do perfil maior que fica acima na sidebar */
.perfil-superior {
    display: flex;
    align-items: center;
}

/* Foto do perfil */
.perfil-superior img {
    margin: 24px 17px 24px 0px;
    width: 56px;
    height: 56px;
}

.perfil-superior p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}

.perfil-superior strong {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

/* Div das sugestões */
.sugestoes-para-voce {
    height: fit-content;
    margin-bottom: 33px;
}


.texto-sugestoes-para-voce {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.texto-sugestoes-para-voce p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.texto-sugestoes-para-voce strong {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;
}

.perfis-sugestoes {
    display: flex;
    align-items: center;
    height: fit-content;
    position: relative;

}

.perfis-sugestoes strong {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.perfis-sugestoes>div>p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.seguir {
    position: absolute;
    right: 0%;
    top: 33%;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;
}

.perfis-sugestoes img {
    width: 32px;
    margin: 8px 11px 8px 0px;
}

.texto-cinza-claro p {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #C7C7C7;

    margin-bottom: 18px;
}