@media (max-width: 614px) {

    /* Respeitando a proporção da tela do celullar...*/
    .fundao {
        width: 100%;
        margin-top: 54px;
    }

    /* Apenas para garantir que a sidebar continue sumida */
    .fundo-direita {
        display: none;
    }

    /* Fazendo o fundo que antes estava à esquerda ter o tamanho do fundo total */
    .fundo-esquerda {
        width: 100%;
    }
    /* Sumindo com o topo desktop */
    .topo {
        display: none;
    }
    /* sumindo com a setinha na caixa de stories */
    ion-icon[name="chevron-forward-circle"] {
        display: none;
    }

    /* Arrumando algumas margens */
    .caixa-dos-stories {
        margin-bottom: 0px;
        border: none;
        background-color: #fafafa;
        border-left: none;
        border-right: none;
    }

    .box-de-publicacao {
        border-right: none;
        border-left: none;
        border-radius: 0px;
    }
}

/* Fazendo o topo mobile sumir caso a largura da tela seja maior que 614px */
@media (min-width: 614px) {
    .topo-mobile {
        display: none;
    }

    .base-mobile {
        display: none;
    }
}

/* Daqui pra baixo é so estilização dos icones, alinhamentos e das margens no mobile */
.topo-mobile {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid #DBDBDB;
    z-index: 1;
}

.coisas-do-topo-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 54px;

}

.coisas-do-topo-mobile img {
    margin-top: 5px;
    height: 29px;
}

.icones-no-mobile {
    height: 20px;
    width: 20px;
}

.base-mobile {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 1px solid #DBDBDB;
    z-index: 1;
}

.coisas-da-base-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
}

.coisas-da-base-mobile div {
    margin: 0px 18px;
}